/* 공통속성 */
h2{
    font-weight: 700;
    &.card-titleB{color: #194e92;}
    &.card-titleW{color: #fff;}
}
.line{
    display: block;
    width: 70px;
    height: 3px;
    margin: 20px auto;
    &.lineB{background: #184e91;}
    &.lineW{background: #F8F9FA;}
}
.card-text{
    font-weight: 400;
    &.card-textBl{color: #313131;}
    &.card-textW{color: #F8F9FA;}
}
ul{margin-bottom: 0 !important; padding: 0;}


#nav{
    background: #f4f4f4;
.container{
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bar{
        display: none;
    }
    .company{
        display: flex;
        font-weight: 500;
        li{
            a{
                margin: 0 .2rem;
                color: #313131;
                border-radius: .3rem;
                &:hover{
                    color: #fff;
                    background: #194e92;
                }
            }
        }
    }
    .service{
        display: flex;
        font-weight: 400;
        li{
            a{
                margin: 0 .2rem;
                color: rgba(5, 83, 184, .6);
                border-radius: .3rem;
                &:hover{
                    color: rgba(5, 83, 184, 1);
                    background: rgba(255, 255, 255, .5);
                }
            }
        }
    }
}  
.mobile-nav{
    display: none;
}  
}
#header{
    .container{
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        .logo-area{
            display: block;
            width: 100px;
            height: auto;
            .logo{
                display: block;
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .dropdown{
         .dropdown-toggle{
            background-color: #194e92;
            color: #fff;
            &::after{margin-left: .5em;}
         }   
        }
    }
}
#main{
    width: 100%;
    height: auto;
    .section1{
        .carousel-item{
            >img{
                filter: brightness(.7);
            }
            .viewMore{
                transition: .3s ease-in-out;
                &.viewMore1{
                    color: #004497;
                    background: rgba(255, 255, 255, .7);
                    &:hover{
                        color: #fff;
                        background: #194e92;
                    }   
                }
                &.viewMore2{
                    color: #a97b40;
                    background: rgba(255, 255, 255, .7);
                    &:hover{
                        color: #fff;
                        background: #a97b40;
                    }   
                }
                &.viewMore3{
                    color: #13796b;
                    background: rgba(255, 255, 255, .7);
                    &:hover{
                        color: #fff;
                        background: #10ac92;
                    }   
                }
            }
        }
    }
    .section2{
     width: 100%;
     height: 100%;
     overflow: hidden;
     .container{
        .card{
            display: flex;
            flex-direction: initial;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2rem;
            --bs-card-border-width:0px;
            li{
                flex-basis: 49%;
                width: 100%;
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 50px;
                margin-bottom: 1rem;
                --bs-card-border-width:0px;
                border-radius: 2rem;
                &.bg-gray{
                    background: #F8F9FA;
                }
                &.bg-blue{
                    background: #1d406c;
                }
                &.news{
                    position: relative;
                    .card-area2{
                        padding: 1rem;
                    }
                    button{
                        height: 2rem;
                        position: absolute;
                        top: 60%;
                        &.carousel-control-prev{
                            .carousel-control-prev-icon{
                                transform: rotate(180deg);
                               background-image: url(../img/arrow.png);
                               background-size: contain;
                            }
                        }
                        &.carousel-control-next{
                            .carousel-control-next-icon{
                               background-image: url(../img/arrow.png);
                               background-size: contain;
                            }
                        }
                    }
                }
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    &.card-area{
                        padding: 1rem;
                    }
                    .img{
                        margin-top: 35px;
                        width: 100%;
                        height: 320px;
                        border-radius: 2rem;
                       &.img1{
                        background: url(https://images.unsplash.com/photo-1545407263-7ff5aa2ad921?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1035&q=80)no-repeat center center/cover;
                       }
                       &.img2{
                        background: url(https://images.unsplash.com/photo-1664167857033-3de52377f42c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80)no-repeat center center/cover;
                       }
                       &.news1{
                        background: url(../img/news1.jpg)no-repeat center center/cover;
                       }
                       &.news2{
                        background: url(../img/news2.jpg)no-repeat center center/cover;
                       }
                       &.news3{
                        background: url(../img/news3.jpg)no-repeat center center/cover;
                       }
                       &.img4{
                        background: url(../img/card4.jpg)no-repeat center center/cover;
                       }
                    }    
                }
            }
            &.active li{
                transform: translateY(100%);
                opacity: 0;
                &:nth-child(1){ animation: card 1s ease-in-out forwards;}
                &:nth-child(2){ animation: card 1s .2s ease-in-out forwards;}
                &:nth-child(3){animation: card 1s .3s ease-in-out forwards;}
                &:nth-child(4){ animation: card 1s .4s ease-in-out forwards;}
            }
         }
     }
    }
@keyframes card {
    0%{transform: translateY(100%); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}
    .section3{
        .container{
            .brandName{
                color: #194e92;
            }
            .brand-img{
                position: relative;
                overflow: hidden;
                img{
                    border-radius: 2rem;
                    width: 100%;
                }
                .brand-more{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    display: flex;
                    align-items: center;
                    a{
                        position: relative;
                        width: 110px;
                        height: 110px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding: 1.2rem;
                        margin: 0 1rem;
                        background: rgba(0, 0, 0, .4);
                        border-radius: 50%;
                        color: #fff;
                        transition: .5s ease-in-out;
                        &.brandBtn1{transform: translateY(-240%); animation: brandBtnAni1 .5s ease-in-out forwards;}
                        &.brandBtn2{transform: translateY(240%); animation: brandBtnAni2 .5s ease-in-out forwards;}
                        &::after{content: ""; width: 100%; height: 100%; background: rgba(65, 39, 147, .6); position: absolute;  border-radius: 50%; z-index: -1; opacity: 0;}
                        &:hover::after{ animation: btnHover 1s ease-in-out infinite;}
                        &:hover{ background: rgba(65, 39, 147, 1);}
                    }
                }
            }
            .brand-icon-area{
             .brand-icon{
               flex-basis: 48%;
               color: #184e91;
               padding: 1rem;
               &.active .brandLogo{
                transition: .3s ease-in-out;
                filter: saturate(100%);
                opacity: 1;
               }
               &.active .icon-name{
                transition: .3s ease-in-out;
                color: #184e91;
                opacity: 1;
               }
               .brandLogo{
                filter: saturate(0%);
                opacity: .2;
               }
               .icon-name{
                color: #555;
                opacity: .3;
            }
             }
            }
            .other-brand{
                padding:.6rem 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                a{
                    display: block;
                    overflow: hidden;
                    height: 70px;
                    img{height: 100%;}
                }
            }
        }
    }
}
#footer{
    background-color: #464d5d;
    .contect-area{
        .contect{
            font-size: 1.5rem;
            color: #fff;
            font-weight: 700;
            width: 100%;
        }
        ul{
            li{
                width: 100%;
                a{
                    width: 100%;
                    color: rgba(255, 255, 255, .8);
                    h5{
                        font-size: 2rem;
                    }
                    .fas{
                        margin-left: .7rem;
                        background-color: #2f3545;
                        padding: 8px 10px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
    .search-area{form{>div{justify-content: flex-end;}}}
    .dropup{
        .more-btn{
            border: 2px solid #fff;
            border-radius: 1rem;
            color: #fff;
        }
        .dropdown-menu{
            border-radius: 1rem;
            .dropdown-item{
                font-size: 13px;
                color: #666;
            }
        }
    }
    #newsletter1{width: 300px;}
    .searchbtn{
        background: #2f3545;
        .fas{color: #fff;}
    }
    .footer-bottom{
        flex-direction: row;
        .copy{
            p{
                color: rgba(255, 255, 255, .5);
                font-size: 14px;
                margin-bottom: 4px;
            }
            >ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-bottom: 15px;
                >li{
                    &:first-child{margin-left: 0;}
                    &:last-child{
                        background: #2f3545;
                        border-radius: 1rem;
                         a{font-weight: bold;}
                    }
                    a{
                        display: block;
                        color: #fff;
                        padding: 3px 13px;
                    }
                }
            }
        }
        .sns-area{
            ul{
                li{
                    a{
                       
                        display: block;
                        i{
                            color: #fff;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
    .scrollTop.active{
        a{
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            width: 4rem;
            height: 4rem;
            background: rgba(47, 53, 69, .7);
            border-radius: 1rem;
            bottom: 1rem;
            text-align: center;
            .fa-chevron-up{
                font-size: 1.5rem;
                color: rgba(255, 255, 255, .3);
               /*  transition: .3s ease-in-out; */
                padding-top: 20px;
            }
            &:hover .fa-chevron-up{
                color: rgba(255, 255, 255,1);
            }
        }
    }
}

@keyframes brandBtnAni1{
    0%{transform: translateY(-240%);}
    100%{transform: translateY(0);}
}
@keyframes brandBtnAni2{
    0%{transform: translateY(240%);}
    100%{transform: translateY(0);}
}
@keyframes btnHover{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{  opacity: 0;
        transform: scale(1.5);}
}

@media screen and (max-width:1300px) {
    #main{
        .section1{
            .carousel-item{
                height: 440px;
                >img{
                    height: 100%;
                    width: auto;
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}
@media screen and (max-width:992px) {
    #main{
        .section2{.container{.card{li{flex-basis: 100%;}}}}
        .section3{
            .container{
                .brand-area{
                    justify-content: center;
                    >div{flex-basis: 100%;}
                }
                .other-brand{display: none;}
            }
        }
    }
}
@media screen and (max-width:780px) {
    .card-text{
       font-size: 1rem;
    }
   #nav{
    >.container{ display: none;}
    .mobile-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 16px;
        background: #194e92;
        height: inherit;
        .mobile-logo{
            width: 100px;
            img{width: 100%;}
        }
        .mobile-bar{
            width: 45px;
            height: 40px;
            display: block;
            padding: 10px;
            .bar{
                width: 100%;
                height: 100%;
                position: relative;
                display: block;
                span{
                    width: 25px;
                    height: 3px;
                    background: #fff;
                    display: block;
                    position: absolute;
                    &:nth-child(1){top: 0;}
                    &:nth-child(2){top: 50%;}
                    &:nth-child(3){top: 100%;}
                }
            }
        }
    }
   }
  #header{
    display: none;
   } 
   #footer{
    .footer-contect{
        align-items: center;
    }
    .contect-area{
        width: 100%;
        text-align: center;
        .contect2{
            h5{font-size: 4rem;}
        }
    }
    .search-area{
        width: 100%;
        form{
            >div{
                justify-content: center;
            }
        }
    }
    .footer-bottom{
        flex-direction: column;
        align-items: center;
        text-align: center;
       .copy{
        width: 100%;
        margin-bottom: 1rem;
        >ul{>li{a{font-size: 14px;}}}
       }
    }
   }
}
@media screen and (max-width:440px){
    #main{
        .section1{
            .carousel-item{
                .carousel-caption{
                    bottom: 4rem;
                    h1{font-size: calc(1.2rem + 1.5vw);}
                    p{font-size: 0.9rem;}
                }
                .viewMore{font-size: 1rem;}
            }
        }
        .section2{
            .container{
                .card{
                    li{
                        padding: 25px;
                        a{
                            .img{
                                margin-top: 15px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
        .section3{
            .container{
                .brand-img{
                    .brand-more{
                        a{
                            width: 90px;
                            height: 90px;
                            span{font-size: 14px;}
                        }
                    }
                }
                .brand-icon-area{
                    .brand-icon{
                        .brandLogo{
                            width: 80px;
                            height: 80px;
                            object-fit: contain;
                            img{width: 100%;}
                        }
                        .icon-name{font-size: 18px;}
                    }
                }
            }
        }
    }
    #footer{
        .contect-area{
            .contect1{
                h6{font-size: .8rem;}
            }
            .contect2{
                h5{font-size: 2rem;}
            }
        }
        .footer-bottom{
            .copy{
                p{font-size: 12px;}
                >ul{>li{a{font-size: 12px;}}}
            }
            .sns-area{
                ul{li{a{i{font-size: 1.4rem;}}}}
            }
        }
        .dropup{
            .more-btn{font-size: 14px;}
        }
    }
}